body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/*header*/
.about {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.about:hover {
  color: #404bbf;
}
.about:focus {
  color: #404bbf;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.pathlogo1 {
  color: #2e2f42;
}

.contact {
  color: #434455;
  font-style: normal;
}

/*hero section*/

/*2 section*/
.our-quality {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
}
.our-quality-text {
  font-family: "Roboto", sans-serif;
  color: #434455;
}
/*footer*/
.basement {
  background-color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.pathlogo2 {
  color: #f4f4fd;
}
