body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/*header*/

.nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav:hover {
  color: #404bbf;
}
.nav:focus {
  color: #404bbf;
}
.logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.pathlogo {
  color: #2e2f42;
}
.contact {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
:hover {
}

.hero section {
}
p {
}

h1 {
}

h2 {
}

h3 {
}
/*footer*/
footer {
  background-color: #2e2f42;
  color: ;
  font-size: ;
  font-weight: ;
}
