body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.header {
}
.header-navigation {
}

.header-logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-pathlogo {
  color: #2e2f42;
}
.header-menu-list {
}
.header-menu-item {
}
.header-menu-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-style: normal;
}

.header-menu-link:hover {
  color: #404bbf;
}
.header-menu-link:focus {
  color: #404bbf;
}

.header-contact {
}
.header-contact-list {
  font-style: normal;
}
.header-contact-item {
}
.header-contact-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-contact-link:hover {
  color: #404bbf;
}
.header-contact-link:focus {
  color: #404bbf;
}
.hero {
}
.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 0.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero-btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.accomplishments {
}
.accomplishments-list {
}
.accomplishments-item {
}
.accomplishments-subtitle {
}
.accomplishments-item-text {
}
.our-team {
}
.our-team-title {
}
.our-team-list {
}
.our-team-item {
}
.our-team-subtitle {
}
.our-team-item-text {
}
.our-portfolio {
}
.our-portfolio-title {
}
.our-portfolio-list {
}
.our-portfolio-item {
}
.our-portfolio-subtitle {
}
.our-portfolio-text {
}
.our-portfolio-text {
}
.footer {
  background-color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-pathlogo {
  color: #f4f4fd;
}

.accomplishments-subtitle {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.accomplishments-item-text {
  font-family: "Roboto", sans-serif;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
